body {
  line-height: 1.5;

  font-family: 'Open Sans', sans-serif;
  font-weight: 200;

  color: rgba(0,0,0,.85);

  background-color: #ecf0f1;

  border-top: 10px solid #e74c3c;
}

header {

  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  font-weight: bold;
}

nav {
  float: left;
}

nav ul li {
  display: inline;
  padding-right: 8px;
}

a {
  color: #e74c3c;
  font-size:16px;

}

nav ul li a {
  text-decoration: none;
}

.big-type {
  margin-bottom: 40px;
}

.date {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(109,122,138,.5);
  /*color:lightgrey;*/
  /*font-weight:bold;*/
}

h2 {
  font-size: 14px;
  color: rgba(109,122,138,.9);
}

.projects {
  margin-bottom: 24px;
}

h4 {
  font-size: 12px;
  margin-bottom: 8px;
  font-weight: 700;
  text-transform: uppercase;
}

.project {
  margin-bottom: 40px;
}

h3 {
  font-size: 24px;
  margin-bottom: 2px;
  font-weight: 600;
}

h3 a {
  text-decoration: none;
}

footer {
  margin-bottom: 40px;
}
